ADMIN_TOKEN=replace_with_32_plus_random_chars
LOCAL_SCRIPT_TOKEN=replace_with_32_plus_random_chars
LOCAL_DEV_AUTH_DISABLED=false
PORT=8787
DATA_DIR=/app/data

APPLE_LIST_INTERVAL_SECONDS=45
APPLE_DETAIL_INTERVAL_SECONDS=15
APPLE_SCAN_CONCURRENCY=2
APPLE_REQUEST_TIMEOUT_MS=15000
APPLE_LISTING_ENABLED=false
APPLE_LISTING_URLS=https://www.apple.com.cn/shop/refurbished/mac/mac-studio
APPLE_MANUAL_URLS=https://www.apple.com.cn/shop/product/g1cepch/a

SCHEDULER_ENABLED=true
SCAN_INTERVAL_SECONDS=10

ALERT_RULE_ID=mac-studio-512gb
ALERT_DISABLED=false
ALERT_MODEL=Mac Studio
ALERT_MEMORY=512gb
ALERT_STORAGE=
ALERT_CHIP=
ALERT_MIN_PRICE=
ALERT_MAX_PRICE=
ALERT_REPEAT_AFTER_SECONDS=

SMS_DRY_RUN=true
LOCAL_EVENTS_ENABLED=true
TENCENT_SECRET_ID=
TENCENT_SECRET_KEY=
TENCENT_SMS_SDK_APP_ID=
TENCENT_SMS_SIGN_NAME=
TENCENT_SMS_TEMPLATE_ID=
TENCENT_SMS_PHONE_NUMBERS=
TENCENT_SMS_TEMPLATE_PARAMS={productLabel},{price},{productId}
TENCENT_SMS_ENDPOINT=https://sms.tencentcloudapi.com
TENCENT_SMS_REGION=

TG_NOTIFY_ENABLED=true
TG_BOT_TOKEN=
TG_CHAT_ID=
TG_API_BASE_URL=https://api.telegram.org
TG_NOTIFY_PROXY_URL=
TG_PROXY_ENABLED=false
TG_HTTP_PROXY_URL=
TG_SEPARATOR_ENABLED=true
TG_SEPARATOR_INTERVAL_SECONDS=21600
